<!-- contenedor de mi grilla mas logo y botones-->
<div class="container inicio">
  <div class="row">
    <div class="col-md-12">
      <div class="titulo">
        <h1>
          Welcome to {{ title }}!
            <!-- aqui pongo mi "enlase" de los otros componentes que quiero mostrar como exportando -->
        </h1>
      </div>
      <img width="300" alt="gato_comiendo" src="../assets/img/burguercat.png" />
      <button type="button" class="btn btn-lg btn-warning" >Mesero</button>
      <button type="button" class="btn btn-lg btn-warning" style=" margin: 1rem">Cocina</button>

    </div>
  </div>
</div>
<div>
  <app-mesero ></app-mesero>
  <app-cocina ></app-cocina>
</div>
<router-outlet></router-outlet>
