<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Orden del desayuno</h2>
      <ul class="menu">
        <li *ngFor="let waiter of menu"
        [class.selected]="waiter === selectedWaiter"
        (click)="onSelect(waiter)">
          <span class="badge">{{waiter.id}}</span> {{waiter.name}}
        </li>
      </ul>

      
      
       



    </div>
  </div>
</div>
<app-cocina [waiter]="selectedWaiter"></app-cocina>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      
        <div>
        <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">Desayuno</button>
          <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">Almuerzo/Cena</button>
        </div>
        <!-- <div>
            <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
                Café americano
              </button>
              <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">Café con leche</button>
              <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">
                Sandwich jamón y queso
              </button>
              <button type="button" class="btn btn-warning btn-lg" style=" margin: 1rem">Jugo natural</button>
        </div> -->
    </div>
  </div>
</div>




  
